@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <h1 id="h1id" class="headstyle"> Welcome to ONLINE SHOPPING STORE!</h1>
    <h3 class="lead">@ViewBag.Title!..</h3>
</div>




<!-- start view prodect -->
<div>
    <p>
        Privacy policy
        We view protecting your privacy and ensuring the security of your personal information is very important, and in order for you to understand how we treat your personal information, please take a few minutes to read the following privacy policy, which is subject to change as we continue to strive to always improve our services so please review this policy periodically.

        If you have any questions about this Privacy Policy, please direct them to us using the contact form on the "Contact Us" page.

        The goal of the policy
        Pizza has adopted this privacy policy with the aim of informing you of its policies regarding information taken from this site, noting that this privacy policy is subject to the terms of use approved by Pizza and included in this document, and your use of this site is considered your acceptance of this privacy policy and agreement to the procedures described in it.

        This Privacy Policy is for the Site only and does not apply to the handling of your personal data that Domino's Pizza or its affiliates/owners/operators obtain through means other than this Site.

        personal information


        This site does not collect any personal information about you other than what you provide yourself, so if you do not wish us to obtain any personal information about you, please do not submit or complete such information while using the site.

        You can visit and browse the Domino's Pizza website without disclosing your personal information, and you also provide this information, which may be retained as described below. This site may collect your personal information through several means, such as:

        E-Mail and Other Communications - You may also contact us by e-mail, our website, by telephone, in writing, or by other means. Here, too, we collect information from these communications, which may be personal information.
        Non-Personal Information


        Use of information
        Domino's Pizza may use personal information collected through its website primarily for various purposes such as:

        assisting in the identification and verification of the identity of users;
        open user accounts or create, update and manage their membership records;
        Processing and servicing or executing operations and sending related messages;
        provide services and support to users;
        improve the site, including modifying its design in accordance with the wishes of users;
        provide users with up-to-date information regarding products or services, send promotional notices, offers, and other information about Domino's Pizza and its affiliates;
        contact users through survey forms to conduct research on current products and services or new products and services proposed to be offered by Pizza;
        respond to your questions, inquiries, comments, requests and instructions;
        Maintaining the security and safety of its devices and systems.
        Pizza uses general and non-personal browsing information automatically collected by its servers (servicers) primarily to help administer and improve its website. Domino's may also use the non-personally identifiable information it collects to provide information about its website to potential business partners and other non-affiliated entities. Here, too, this information is not personal.

        Information disclosure
        Pizza does not provide personal information about its customers to non-affiliated parties for their direct marketing purposes to you. However, Domino's Pizza may use non-affiliated companies to assist in the maintenance and management of its website or for other reasons related to the conduct of its business. In this case, these companies may obtain your personal information for this purpose. It may also disclose your personal information at the request of a judicial or governmental authority or in the context of the investigation of a case, or otherwise as permitted by the system.

        "Cookies" and advertisers
        The servers of the Pizza Site, or the servers of the companies used to operate this Site, may place a "cookie" on your computer to allow you to use the Site and to obtain a better personal experience. A "cookie" is a small file of data that can be sent by an Internet server to your computer and then stored by your browser on your computer's hard disk. Cookies enable us to recognize your computer during your visit to our website and help us customize your online experience.
    </p>
</div>
<!-- End view prodect -->
